* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	
	background: linear-gradient(129.96deg, #FF2F2F 10.43%, #000460 92.78%), radial-gradient(100% 246.94% at 100% 0%, #FFFFFF 0%, #020063 100%), linear-gradient(121.18deg, #1400FF 0.45%, #3A0000 100%), linear-gradient(154.03deg, #FF002E 0%, #FF003D 74.04%), linear-gradient(341.1deg, #B25BBA 7.52%, #1700A7 77.98%), linear-gradient(222.34deg, #0047FF 12.99%, #FF0000 87.21%), linear-gradient(150.76deg, #B7D500 15.35%, #2200AA 89.57%);
background-blend-mode: overlay, color-burn, screen, overlay, difference, difference, normal;
	background-attachment: fixed;
}

.navbar {
	/*Controlling the list items*/
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 3%;
	border-radius: 7px;
	/* background: rgb(28, 27, 27); */
}

.logo {
	cursor: pointer;
	margin-right: auto;
	color: rgb(255, 255, 255);
	font-size: 47px;
	font-weight: bolder;
}

.links {
	list-style: none;
}

.links li {
	display: inline-block;
	font-size: 30px;
	padding: 0px 5px;
}

.links li a {
	color: rgb(255, 255, 255);
	transition: all 0.3s ease 0s;
}

.links li a:hover {
	transition: all 0.3s ease 0s;
	color: aquamarine;
}

.icons {
	/* fas-fa bars modifier*/
	padding: 0px 5px;
	font-size: 24px;
	justify-content: right;
	color: rgb(255, 255, 255);
}

.body h2 {
	margin-right: auto;
	color: rgb(255, 255, 255);
	font-size: 70px;
	font-weight: bolder;
	padding: 0px 3%;
}

.body h3 {
	color: rgb(255, 255, 255);
	font-size: 24px;
	font-weight: bolder;
	padding: 22px 3%;
}

.body {
	/*Controlling the paragraphs location*/
	padding: 10px;
	margin-top: 100px;
}

.main-wrapper {
	/*Upload Box modifier*/
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 120px;
}

.drag-area {
	height: 120px;
	width: 300px;
	background: #ffffffe1;
	border-radius: 6px;
	/* Changes curve of the border*/
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
}

.drag-area.active {
	border: 2px solid #fff;
}

.drag-area .icon {
	font-size: 50px;
	cursor: pointer;
}

#fileinput {
	/*Hides input element*/
	display: none;
}

#btn-text {
	font-size: larger;
	font-weight: bolder;
}